:root {
    --fuentePrincipal: 'Staatliches', cursive;
    --colorencabezado: #5dd1ee;
    --colorpiepagina: #1013c1;
    --fuenteblanca: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorencabezado);
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center; 
    }

    .logo {
        position: static; 
        margin: 0 auto; 
    }

    .derecha {
        align-items: center;
        text-align: center;  
    }
}
.derecha {
}
.logo {
    height: 5rem;
}

.nombre__universidad {
    text-align: center;
    font-size: 2rem;
}

.section__headerderecha {
    padding-right: 25px;
}

.footer {
    text-align: center;
    background-color: var(--colorpiepagina);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__letras {
    color: var(--fuenteblanca);
}